@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.banner {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #b2ebf2; /* Slightly darker blue */
    color: #ffffff; /* White letters */
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
}

.login-container {
    background-color: #ffffff;
    border: 2px solid #0288d1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login-container h1 {
    color: #0288d1;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0288d1;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.login-container input[type="submit"] {
    background-color: #0288d1;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.login-container input[type="submit"]:hover {
    background-color: #0277bd;
}

.signup-container {
    background-color: #ffffff;
    border: 2px solid #0288d1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 700px; /* Increased width */
    text-align: center;
}

.signup-container h1 {
    color: #0288d1;
    margin-bottom: 20px;
}

.signup-container .input-group {
    display: flex;
    justify-content: space-between;
}


.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"] {
    width: 40%; /* Adjusted width to fill the container */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0288d1;
    border-radius: 5px;
}

.signup-container input[type="submit"] {
    background-color: #0288d1;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.signup-container input[type="submit"]:hover {
    background-color: #0277bd;
}

.footer {
    background-color: #b2ebf2;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}