<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Edit MileStone Record</h1>
  
  <!-- it's ok to use the same rout as long as you use a different method -->
  <form action="/editMileStone/<%= milestone.id %>" method="POST">
    
    <!-- Pokémon Description -->
    <label for="description">Description</label>
    <input type="text" id="description" name="description" value="<%= pokemon.description %>" required oninput="this.value = this.value.toUpperCase()">
    
    <!-- Base Total -->
    <label for="base_total">Base Total</label>
    <input type="number" id="base_total" name="base_total" value="<%= pokemon.base_total %>" required>
    
    <!-- Date Created -->
    <label for="date_created">Date Created</label>
    <input type="date" id="date_created" name="date_created" value="<%= pokemon.date_created.toISOString().split('T')[0] %>" required>
    
    

    

   

    <!-- Submit Button -->
    <button type="submit">Save Changes</button>
  </form>
</body>
</html>