<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Splish Splash Baby Bash</h1>
<h2>Our Story</h2>
<p>Welcome to Splish Splash Baby Bash, a resource designed specifically for parents navigating the exciting, challenging, and rewarding journey from the moment they find out they’re pregnant through the birth of their child. 
    As students at Brigham Young University (BYU), we understand the unique challenges that married students face when preparing for a baby while balancing a college budget and a demanding academic schedule.
    
    Our mission is to provide practical, reliable, and easy-to-access resources that will help parents thrive during this special time. We focus on solving common problems such as budgeting for a baby, basic baby care, 
    finding affordable baby items, and tracking developmental milestones.
    
    Thank you for visiting, and we’re excited to be part of your parenting journey!
</p>
<a href = "babyCare.ejs">Baby Care Tips</a>
<br/><a href = "finance.ejs">Finance Tracker</a>
<br/><a href = "mileStone.ejs">Mile Stone Tracker</a>
</body>
</html>