<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Splish Splash Baby Bash</h1>
<h2>About</h2>
<p>Welcome to Splish Splash Baby Bash, your go-to resource for tracking pregnancy milestones 
    and staying informed throughout your pregnancy journey. We understand how exciting, 
    yet overwhelming, it can be to navigate the stages of pregnancy, and we are here 
    to help you stay on track with every key milestone.

    Our goal is to provide a simple, reliable, and accessible way for parents to monitor 
    their pregnancy progress. From early symptoms to trimester-by-trimester developments, 
    we offer tools and guidance to help you track the physical and emotional changes you’ll 
    experience. This ensures that you stay prepared, informed, and confident as you move closer 
    to meeting your little one.
    
    We’re here to support you every step of the way with helpful milestone tracking tools 
    designed to give you peace of mind and a deeper connection to your pregnancy journey. 
    Thank you for visiting—let us help you celebrate each milestone as you prepare for this 
    exciting new chapter in your life!
</p>
<a href = "/mileStone">Mile Stone Tracker</a>
</body>
</html>