<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Splish Splash Baby Bash</h1>
<h2>Our Story</h2>
<p>Our website will focus on helping parents from the moment they find out 
    their pregnant to the end of their child’s first year of life. As BYU 
    students, we see a lot of married students navigating the preparation 
    required for their child’s arrival while simultaneously balancing a 
    college budget and schedule. We propose the “ ” website that will give 
    them the resources to solve common problems such as budgeting, basic baby
    care, baby item websites, baby milestones, local support groups, and more.
     We plan on putting out a survey to parents to find out any additional thing
     s they would like to see on our website. We believe this website will 
     benefit not just our local community, but society as a whole on a global 
     scale.  
</p>
<a href = "babyCare.ejs">Baby Care Tips</a>
<br/><a href = "finance.ejs">Finance Tracker</a>
<br/><a href = "mileStone.ejs">Mile Stone Tracker</a>
</body>
</html>