<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/loginpage.css">
    <title>Document</title>
</head>
<body>

<div class="banner">
    <h1>Splish-Splash Baby Bash</h1>
</div>
<section class="welcome-section">
    <div class="welcome-message">
        <h1>Splash! Take a dive with us into the world of baby fun!</h1>
        <p>Welcome to Splish Splash Baby Bash, your go-to resource for tracking major 
            events during your pregnancy journey and staying informed throughout this 
            exciting time. We understand how thrilling, yet sometimes overwhelming, 
            it can be to navigate the various moments that shape your pregnancy 
            experience, and we’re here to help you stay on top of those important 
            milestones.

            Our goal is to provide a simple, reliable, and accessible way for parents 
            to track key events and experiences throughout pregnancy. From significant
             doctor visits to special moments like feeling your baby move for the 
             first time, we offer tools and guidance to help you celebrate each 
             milestone along the way.
            
            We’re here to support you every step of the way with helpful milestone 
            tracking tools designed to give you peace of mind and a deeper connection 
            to your pregnancy journey. Thank you for visiting—let us help you celebrate
             each important event as you prepare for the arrival of your little one!
        </p>
    </div>

    <form class="login-btns" action="/login" method="get">
        <button type="submit">Login</button>
    </form>
    
    <form class="login-btns" action="/signUp" method="get">
        <button type="submit">Sign Up</button>
    </form>

</section>



<footer class ="footer">
    <p>&copy; 2024 Splish-Splash Baby Bash. All rights reserved.</p>
</footer>
   
</body>
</html>
