<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<button type="button" onclick="">Login</button>
<button type="button" onclick="">SignUp</button>
<body>
    <form action="/login" method="post">
        

    </form>
   <script>

   </script>
</body>
</html>