<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/loginpage.css">
    <title>Document</title>
</head>
<body>

<div class="banner">
    <h1>Splish-Splash Baby Bash</h1>
</div>
<section class="welcome-section">
    <div class="welcome-message">
        <h1>Splash! Take a dive with us into the world of baby fun!</h1>
    </div>

    <form class="login-btns" action="/login" method="get">
        <button type="submit">Login</button>
    </form>
    
    <form class="login-btns" action="/signUp" method="get">
        <button type="submit">Sign Up</button>
    </form>

</section>



<footer class ="footer">
    <p>&copy; 2024 Splish-Splash Baby Bash. All rights reserved.</p>
</footer>
   
</body>
</html>
